<h2>Gestión de Inscripciones</h2>

<form class="formulario">
  <mat-form-field appearance="outline">
    <mat-label>Alumno</mat-label>
    <mat-select [(ngModel)]="alumnoSeleccionado" name="alumno">
      <mat-option *ngFor="let alumno of alumnos" [value]="alumno">
        {{ alumno.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Curso</mat-label>
    <mat-select [(ngModel)]="cursoSeleccionado" name="curso">
      <mat-option *ngFor="let curso of cursos" [value]="curso">
        {{ curso.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="acciones">
    <button mat-raised-button color="primary" type="button" (click)="agregarInscripcion()">
      Agregar
    </button>
  </div>
</form>

<hr />

<h3>Inscripciones Realizadas</h3>
<mat-list>
  <mat-list-item *ngFor="let ins of inscripciones">
    {{ ins.alumno.nombre }} inscrito en {{ ins.curso.nombre }}
    <button mat-button color="warn" (click)="eliminarInscripcion(ins)">
      Eliminar
    </button>
  </mat-list-item>
</mat-list>
