<mat-nav-list>
  <!-- ADMIN -->
  <ng-container *ngIf="esAdmin">
    <a mat-list-item routerLink="/">Inicio</a>
    <a mat-list-item routerLink="/alumnos">Alumnos</a>
    <a mat-list-item routerLink="/cursos">Cursos</a> <!-- Solo admins -->
  </ng-container>

  <!-- USUARIO -->
  <ng-container *ngIf="esUsuario">
    <a mat-list-item routerLink="/">Inicio</a>
    <a mat-list-item routerLink="/listado">Listado Alumnos</a>
    <a mat-list-item routerLink="/inscripciones">Inscripciones</a>
  </ng-container>

  <button mat-button *ngIf="auth.rolActual" (click)="cerrarSesion()">Cerrar sesión</button>
</mat-nav-list>
